<p id="notice"><%= notice %></p>

<% @photos.each do |photo| %>
    <%= link_to image_tag(photo.image.url(:medium)), photo %><br/>
    <%= photo.photographer %><br/>

    <!-- <% if photo.user == current_user  %> -->
      <%= link_to 'Edit', edit_photo_path(photo) %>
      <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
    <!-- <% end %> -->
<% end %>

<br>