<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-md-offset-0 col-md-12">

		<div class="panel panel-default">
			<div class="panel-heading center col-md-12">
				<%= image_tag @photo.image.url, :class => "col-md-12" %>
			</div>

			<div class="panel-heading center">
			  <strong>Description:</strong>
			  <%= @photo.description %>
				<br/>
				<% if @photo.user == current_user  %>
					<%= link_to 'Edit', edit_photo_path(@photo) %>
					<%= link_to 'Destroy', @photo, method: :delete, data: { confirm: 'Are you sure?' } %>
				<% end %>
				<%= link_to 'Back', photos_path %>

			</div>
		</div>

	</div>
</div>
