<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @photo.image.url(:medium) %><br/>
  <strong>Photographer:</strong>
  <%= @photo.photographer %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
